$padding: 10px;

$background: #f0f1f3;
$white: #ffffff;
$black: #141416;
$orange: #f2be5a;
$red: #ed7669;


$primary: #285f8e;
$secondary: #c9c9c9;
$secondary-dark: #d8d8d8;


$input-border: #ebebeb;
$input-default-label: #c8c8c8;

$label-2: #6db8d0;

$heading: #858585;
$small-text: #838386;

$button-secondary: #f56a5e;
$button-primary: #2a5f93;
